html {
  font-family: Helvetica;
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: bold;
}

#header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3{
  font-size: 23px;
}

#topmenu {
  font-size: 18px;
  color: white;
}

#process p,
#us p {
  font-size: 14px;
}

#brdway {
  font-size: 23px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
  background-position: center;
}

#footer, .links {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
