h1,
h2,
h3 {
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
}
html {
  font-family: Helvetica;
}
body {
  text-align: center;
}
#header  {
  text-align: center;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p.topmenu {
  font-size: 18px;
}

.process p,
.us p {
  font-size: 14px;
}

.brdway {
  font-size: 23px;
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

#footer p {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
